*{
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
}
.w100{
  width: 100%;
}
body,html{
  font-size: 14px;
  background: #f0f0f0;
  font-family:Microsoft YaHei;
  color: #333;
}
ul,li,ol{
  list-style: none;
}
// 最大750px;
.max-width{
  max-width: 750px;
  margin: auto;
}
// swiper 分页器导航重写
.index-banner-pagination{
  width: auto!important;
  background: #777676;
  opacity: .4;
  left: 50%!important;
  transform: translateX(-50%);
  padding: 0 5px;
  border-radius: 10px;
  line-height: 1;
  height: 15px;
}
.swiper-pagination-bullet{
  background: #f0f0f0;
  opacity: .4;
  &.swiper-pagination-bullet-active{
    background: #fff;
    opacity: 1;
  }
}
.ib{
  display: inline-block;
  position: relative;
}
.flex{
  display: flex;
}
.fe{
  flex: 1;
}
.fe-center{
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: #333;
}
.basebtn{
  border:1px solid #000;
  color: #000;
  font-weight: normal;
  font-size: .35rem;
  text-align: center;
  width: 3rem;
  margin: .8rem auto .5rem;
  padding: .15rem 0;
}
